@model LoginModel
<form asp-action="Login" asp-controller="Other" method="post">
    <input asp-for="login" placeholder="Login"/>
    <input type="password" asp-for="password" placeholder="Parol"/>
    <input type="submit" value="Kirish"/>
</form>