@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Lato:ital,wght@0,100;0,300;1,100&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --fonts: 'Lato';
}

body {
    width: 100vw;
    height: auto;
    // height: 2739px;
    background: #F1F2FB;
    backdrop-filter: blur(58px);
    position: relative;

    display: flex;
    // align-items: center;
    justify-content: center;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 7px;
        background: #221f1f;
    }
    &::-webkit-scrollbar-thumb {
        border: #00C4F0 1px solid;
        border-radius: 12px;
    }
      

    #begin {
        width: 1440px;
        display: flex;
        align-items: center;
        // justify-content: center;
        flex-direction: column;
        // padding-top: 100px;

        #menu {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100vw;
            height: 100px;
            background: #2D2550;
            backdrop-filter: blur(24px);
            
            position: sticky;
            z-index: 200;
            top: 0;
            left: 0;
            right: 0;

            img {
                width: 123px;
                height: 59px;
                margin-right: 145px;
            }

            .active {
                font-family: var(--fonts);
                font-style: normal;
                font-weight: 550;
                font-size: 20px;
                line-height: 20px;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 0.15px;
                color: #fff;
            }

            ul {
                display: flex;
                list-style:none;

                li {

                    a {
                        font-family: var(--fonts);
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 20px;
                        display: flex;
                        align-items: center;
                        letter-spacing: 0.15px;
                        color: #c6c3d4;
                        margin: 0 45px;
        
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }

            .phone {
                margin-left: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .number {
                    display: flex;

                    img {
                        width: 24px;
                        height: 24px;
                        margin: 0;
                    }

                    h4 {
                        font-family: var(--fonts);
                        font-style: normal;
                        font-weight: 550;
                        font-size: 20px;
                        line-height: 20px;
                        display: flex;
                        align-items: center;
                        letter-spacing: 0.15px;
                        color: #FAF9FE;
                        margin-left: 8px;
                    }
                }

                .vaqt {
                    margin-top: 7px;

                    p {
                        font-family: var(--fonts);
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 12px;
                        display: flex;
                        align-items: center;
                        letter-spacing: 0.4px;
                        color: #FAF9FE;
                    }
                }
            }
        }

        #footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            width: 100vw;
            height: 491px;
            background: #2D2550;

            display: flex;
            align-items: center;
            justify-content: center;

            .container {
                width: 1440px;
                height: 100%;

                .line {
                    width: 100%;
                    height: 1px;

                    background: #FFFFFF;
                    mix-blend-mode: normal;
                    opacity: 0.2;
                }
            }

            .footer_menu {
                margin-top: 20px;
                margin-bottom: 25px;
                height: 70px;
                width: 1230px;
                
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                .logo {
                    img {
                        width: 129px;
                        height: 62px;
                    }
                }

                .menu {

                    a {
                        font-family: var(--fonts);
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        /* identical to box height */
                        
                        text-transform: uppercase;
                        
                        /* сфкв цршеу сщдщк */
                        
                        color: #FAF9FE;
                        margin-right: 70px;
                    }
                }
            }

            .footer_loc {
                margin-top: 40px;
                margin-bottom: 40px;
                width: 1230px;

                display: grid;
                grid-template-columns: auto auto;
                justify-content: space-between;

                .Locatsio {
                    width: 357px;
                    height: 221px;

                    iframe {
                        width: 100%;
                        height: 100%;
                        border-radius: 7px;
                    }
                }

                #icons {
                    margin-top: 50px;
                    .d-f {
                        display: flex;
                        font-family: 'Lato';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 140%;
                        color: #FAF9FE;
                        margin-bottom: 20px;
                        align-items: center;
                        .d-f{
                            &:nth-child(2){
                               margin-left: 108px;
                            }
                        }
                        &:nth-child(3){
                            margin-top: 27px;
                            ion-icon{
                                color: #fff;
                                margin: 0 15px;
                            }
                        }
                        ion-icon{
                            margin-right: 20px;
                            font-size: 20px;
                            
                        }
                    }
                }
            }

            .huquq {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 72px;

                h2 {
                    font-family: var(--fonts);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    /* identical to box height */
                    
                    
                    mix-blend-mode: normal;
                    opacity: 0.7;
                    color: #fff;
                }
            }
        }

        .container {
            display: flex;
            align-items: center;
            // justify-content: center;
            flex-direction: column;

            #img {
                margin-top: 60px;
                display: flex;
                align-items: center;
                justify-content: center;

                position: relative;
                width: 1120px;
                height: 457px;
                // background: rgba(0, 0, 0, 0.6);
                border-radius: 12px;

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 12px;
                }

                .tor {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.6);
                    border-radius: 12px;
                }

                h1 {
                    position: absolute;
                    font-family: var(--fonts);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 48px;
                    line-height: 120%;
                    /* identical to box height, or 58px */
                    
                    
                    color: #FFFFFF;

                }
            }

            .Courses {
                margin-top: 60px;
                margin-bottom: 620px;
                cursor: pointer;
                display: grid;
                grid-template-columns: auto auto auto auto;

                .Course {
                    margin: 24px;
                    width: 262px;
                    height: 334px;
                    background: #FFFFFF;
                    box-shadow: 1px 7px 20px rgba(45, 37, 80, 0.07);
                    border-radius: 24px;

                    .img {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        width: 262px;
                        height: 170px;
                        
                        background: #C0DBF9;
                        border-radius: 24px 24px 0px 0px;

                        img {
                            width: 100%;
                            border-radius: 24px 24px 0px 0px;
                        }
                    }

                    h3 {
                        font-family: var(--fonts);
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 29px;
                        /* identical to box height */
                        
                        
                        /* bold text color */
                        
                        color: #2D2550;
                        margin-top: 24px;
                        margin-left: 24px;
                    }

                    .user {
                        margin-top: 63px;
                        display: flex;
                        align-items: center;

                        img {
                            margin: 0 12px;
                        }

                        h5 {
                            font-family: var(--fonts);
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            letter-spacing: 0.15px;
                            
                            /* Light text color */
                            
                            color: #5A5477;
                        }
                    }

                    &:hover {
                        // transform: translate(5px, -5px);
                        transition: 2s;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}